In [8]:
import matplotlib.pyplot as plt
from matplotlib import style
import datetime as dt
import pandas_datareader.data as web
style.use('ggplot')
start=dt.datetime(2000,1,1)
end=dt.datetime.now()
df=web.DataReader('TSLA','yahoo',start,end)
df
# df.to_csv(r"test.csv")

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-06-29,25.000000,17.540001,19.000000,23.889999,18766300,23.889999
2010-06-30,30.420000,23.299999,25.790001,23.830000,17187100,23.830000
2010-07-01,25.920000,20.270000,25.000000,21.959999,8218800,21.959999
2010-07-02,23.100000,18.709999,23.000000,19.200001,5139800,19.200001
2010-07-06,20.000000,15.830000,20.000000,16.110001,6866900,16.110001
...,...,...,...,...,...,...
2020-08-20,2021.989990,1857.060059,1860.680054,2001.829956,20611800,2001.829956
2020-08-21,2095.489990,2025.050049,2044.760010,2049.979980,21489600,2049.979980
2020-08-24,2129.000000,1927.520020,2126.280029,2014.199951,20063600,2014.199951
2020-08-25,2027.949951,1968.000000,1974.890015,2023.339966,10584300,2023.339966
2020-08-26,2166.000000,2053.629150,2060.000000,2153.169922,13948695,2153.169922

In [9]:
df.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-08-20,2021.989990,1857.060059,1860.680054,2001.829956,20611800,2001.829956
2020-08-21,2095.489990,2025.050049,2044.760010,2049.979980,21489600,2049.979980
2020-08-24,2129.000000,1927.520020,2126.280029,2014.199951,20063600,2014.199951
2020-08-25,2027.949951,1968.000000,1974.890015,2023.339966,10584300,2023.339966
2020-08-26,2166.000000,2053.629150,2060.000000,2153.169922,13948695,2153.169922